name: Docker Image CI

on:
  push:
    branches: [ "github_action" ]   # testing
    #branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compare official Signal-Desktop version to AppImage version
      run: |
        set -e
        LATEST_VERSION_OFFICIAL=$(curl -Ls https://api.github.com/repos/signalapp/Signal-Desktop/releases/latest | jq -r '.tag_name')
        LATEST_VERSION_APPIMAGE=$(curl -Ls https://api.github.com/repos/karo-solutions/Signal-Desktop-AppImage/releases/latest | jq -r '.tag_name')
        echo "Latest official version: $LATEST_VERSION_OFFICIAL"
        echo "Latest AppImage version: $LATEST_VERSION_APPIMAGE"

        if [[ "$LATEST_VERSION_OFFICIAL" == "$LATEST_VERSION_APPIMAGE" ]]
        then
          echo "Versions are equal. No need to rebuild Signal-Desktop-Appimage. Exiting..."
          exit 0
        fi
        # store new version in GitHub Environment
        echo "LATEST_VERSION=$LATEST_VERSION_OFFICIAL" >> "$GITHUB_ENV"

    - name: Build and release AppImage
      if: ${{ env.LATEST_VERSION != '' }}   # only run when latest version is set i.e. building a new version is required.
      env:
        GH_TOKEN: ${{ github.token }}       # set automatically - no personal access token needed - But adjusted workflow permissions: https://github.com/karo-solutions/Signal-Desktop-AppImage/settings/actions
      run: |
        set -e
        # docker build --build-arg SIGNAL_BRANCH=$LATEST_VERSION --output out .
        # gh release create $LATEST_VERSION./out/*.AppImage
        echo "test" >> release.tar.xz
        gh release create $LATEST_VERSION release.tar.xz